/*.react-contextmenu {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    color: #373a3c;
    font-size: 16px;
    margin: 2px 0 0;
    outline: none;
    opacity: 0;
    padding: 5px 0;
    pointer-events: none;
    text-align: left;
    transition: opacity 250ms ease !important;
  }
  
  .react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
  }
  
  .react-contextmenu-item {
    background: 0 0;
    border: 0;
    color: #373a3c;
  cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    padding: 3px 20px;
    text-align: inherit;
    white-space: nowrap;
  }
  
  .react-contextmenu-item.react-contextmenu-item--active,
  .react-contextmenu-item.react-contextmenu-item--selected {
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    text-decoration: none;
  }
  
  .react-contextmenu-item.react-contextmenu-item--disabled,
  .react-contextmenu-item.react-contextmenu-item--disabled:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
    color: #878a8c;
  }
  
  .react-contextmenu-item--divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    cursor: inherit;
    margin-bottom: 3px;
    padding: 2px 0;
  }
  .react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
  }
  
  .react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
  }
  
  .react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: "▶";
    display: inline-block;
    position: absolute;
  }
  
  .example-multiple-targets::after {
    content: attr(data-count);
    display: block;
  }

  .file-explorer-tree {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    background-color: #21252b;
    font-size: 1.4em;
  }
  
  .m-node.placeholder {
    border: 1px dashed #1385e5;
  }
  
  .m-node .inner {
    color: #d8e0f0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .m-node .node {
    display: inline-block;
    padding: 4px 5px;
  }
  
  .m-node .node.is-active {
    background-color: #31363f;
  }*/

  .file-explorer-tree {
    padding: 15px;
    margin: 20px;
    border-style: solid;
    border-radius: 25px;
    height: 95vh;
    width: auto;
    font-size: 1.4em;
  }
